<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<form method="post">
			{% csrf_token %}
			<input type="text" name = "uname" placeholder="Enter username">
			<input type="password" name = "password" placeholder="Enter password">
			<input type = "submit">
		</form>
	</body>
</html>