<html>
    <head>
        <title> Pets </title>
    </head>
    <body>
        <ul>
            {% for pet in pets %}
                <li> {{pet}}</li>
            {% endfor %}
        </ul>

    </body>
</html>