<html>
	<head>
		<title>Blackjack</title>
	</head>
	<body>
		<h1>Casino Blackjack</h1>
		<p>
			{{message}}
		</p>
    	<form method = "post" id = "next" name = "nex">
        	<input type ="submit" name="next" value="Next">
    	</div>
    	<form method = "post" id = "exit" name = "exi">
         	<input type ="submit" name="exit" value="Stop">
    	</div>
    	<p>
    		<br><br><br>
    		{{user}}
    	</p>
	</body>
</html>