<html>
	<head>
		<title>4schoolersBlackjack</title>
	</head>
	<body>
		<h1>Welcome to 4schoolers Blackjack!</h1>
    	<form method = "post" id = "register" name = "register">
        	<input type ="submit" name="Register" value="Register">
    	</div>
    	<form method = "post" id = "Login" name = "login">
         	<input type ="submit" name="Login" value="Login">
    	</div>
	</body>
</html>