<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <p>
            Enter username and password here:
        </p>
        <form method = "post" id = "register" name = "register">
            <input type = "text" id = "username" name = "username" placeholder = "username">
            <input type = "password" id = "password" name = "password" placeholder = "password">
            <input type = "password" id = "cpassword" name = "confirm password" placeholder = "confirm password">
            <input type = "submit" value = "Register">
        </form>
        <p>
            {{message}}
        </p>
    </body>
</html>