<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<p>Enter Information Here: </p>
		<form>
			<label for="uname">Username:</label><br>
  			<input type="text" id="uname" name="uname"><br>
  			<label for="pw">Password:</label><br>
  			<input type="password" id="pw" name="pw"><br>
  			<input type="submit" value="Submit">
		</form>
	</body>
</html>