<html>
	<head>
		<title>Index</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	</head>
	<body>
		<p>Users: </p>
		<table class = "table">
			<thead>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Email</td>
					<td>Username</td>
				</tr>
			</thead>
			<tbody>
				{% for user in data %}
					<tr>
						<td>{{user[0]}}</td>
						<td>{{user[1]}}</td>
						<td>{{user[2]}}</td>
						<td>{{user[3]}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>